body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(white,lightgray,rgb(157, 235, 245)) fixed;
}

#contenedor{
  display: flex;
  flex-wrap: wrap;
  
}

#divAvatar, #divDatos{
   display: inline-block;
   vertical-align: top;
}
#particles-js {
  position: absolute;
  top:0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#divAvatar{
  width: 50%;
  background-size: cover;
}

#divDatos{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-left: 1em;
}

#divAvatar > img{
  max-width: 100%;
  max-height: 700px;
}

#pNombre{
  font-weight: bold;
  /*color: rgb(255, 0, 0);*/
  color: white;
  font-size: 2.5em;
  text-shadow: 1px 1px 3px black;
  
}


#divEquipo, .barra{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#divEquipo > img{
  max-height: 3em;
  margin-right: 1em;
}

.barra{
  margin: 0.5em;
  font-size: 1.5em;
}

.barra span{
  font-weight: bold;
}

.barra > div{
  width: 90%;
  height: 0.5em;
  margin: 0.2em;
}

.barra > div > div{
  height: 100%;
}
.barra:hover{
  transition: 0.2s;
  box-shadow: 1px 4px 6px darkgray;
}

#divVida {
  color: red;
}
#divVida:hover, #divPoder:hover, #divExperiencia:hover{
  transition: 0.5s;
  text-shadow: 0px 0px 2px black;

}

#divVida > div >div {
  background-color: red;

}

#divPoder {
  color: rgb(0, 132, 255);
}

#divPoder > div >div {
  background-color: rgb(0, 132, 255);
}

#divExperiencia {
  color: rgb(255, 251, 0);
}

#divExperiencia > div >div {
  background-color: gold;
}

#divPoderes{
  display: flex;
  flex-direction: column;
  color: rgb(102, 101, 101);
  transition: 1s ease 0.3s;
}
#divPoderes:hover{
  margin-left: 25px;
}

#divPoderes p{
  font-size: 2em;
}


#divPoderes div{
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

#divPoderes div img {
  width: 20%;
  margin-right: 1em;
}
